body, html {
  /*background-color: #0066ff;*/
  padding: 0;
  margin: 0;
  font-size: 14pt;
  font-family: Helvetica, sans-serif;
}

html {
  background-image: url(../img/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body {
  background-color: rgba(127,127,127,0.6);
  min-height: 100vh;
}

main > section > h1, h1.post-title, main > section > h2 {
  font-weight: 50;
  background-color: #007f0e;
  color: #fff;
  border-radius: 2rem;
  /*text-shadow: 1px 1px 2px #ddd;*/
  line-height: 100%;
  padding: 0.6rem 1rem 0.3rem 1rem;
}

article img {
  max-width: 100%;
}

main {
  max-width: 40rem;
  margin: 0 auto;
  padding: 2rem 0;
}

img.logo {
  width: 8rem;
  border-radius: 4rem;
  border: 0.2rem solid #aaa;
  box-sizing: border-box;
}

.center {
  margin: 0 auto;
  float: none;
  width: min-content;
  display: block;
}

.content, .e-content, dl:not(.social), dl.social dd {
  background-color: rgba(230, 230, 230, 0.9);
  border-radius: 0.3rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.post-meta {
  background: #444;
  color: white;
  padding: 0.1rem 1rem;
  border-radius: 1rem;
}

.content, .e-content {
  text-align: justify;
  padding: 0.01px 1rem;
  margin-bottom: 1rem;
}

dl:not(.social) {
  padding-bottom: 0.6rem;
}

dl dt {
  font-weight: bold;
  padding: 1rem 1rem 0.5rem 1rem;
}

dl:not(.social) dd {
  margin-left: 0;
  width: 100%;
}

dl dd a {
  padding: 0.4rem 1.4rem;
  overflow: hidden;
  color: #007f0e;
  text-decoration: none;
}

dl:not(.social) dd a {
  display: block;
}

dl:not(.social) dd a::after {
  content: attr(href);
  color: #888;
  float: right;
  max-width: 100%;
  overflow-wrap: break-word;
}

dl dd a:hover {
  background-color: #ddd;
}

dl.social {
  display: flex;
  font-size: 20pt;
  padding: 0 1rem;
  justify-content: space-between;
}

dl.social dt {
  display: none;
}

dl.social dd + dt::before {
  content: "|";
}

dl.social dd {
  margin: 0;
  display: block;
  flex: 0 1 auto;
  box-sizing: border-box;
  overflow: hidden;
}

dl.social dd a {
  display: block;
  overflow: hidden;
}

div.highlight {
  overflow-x: auto;
  max-width: 100%;
}

@media (max-width: 44rem) {
  h1, h2, h3, h4, h5, h6 {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  p, dl, h1, h2, .content, .e-content {
    border-radius: 0;
  }

  dl dd a::after {
    float: right;
    text-align: left;
    width: 100%;
  }

  dl.social {
    flex-direction: column;
  }

  /*dl.social dt {
    display: block;
  }*/

  dl.social dd + dt::before {
    content: unset;
  }

  dl.social dd {
    display: block;
    margin: 0.2rem 0;
  }

  dl.social dd a {
    padding-left: 0.7rem;
  }

  dl.social dd a i {
    box-sizing: border-box;
    width: 2rem;
    text-align: center;
  }

  dl.social dd a::after {
    content: "" attr(title);
    width: initial;
    float: none;
    margin-left: 0.5rem;
    font-weight: bold;
    color: #333;
  }
}
