body {
    background-color: #EEE;
    font-family: sans-serif;
}

.flow32 .fi {
    width: 32px;
    height: 32px;
    background-size: 32px;
    padding: 0;
}

.flow32 .v {
    font-weight: bold;
    padding-right: 5px;
}

table.flow32 {
    border: 0;
    border-spacing: 0;
    margin: 0 auto;
}

.start.A {
    background-image: url('Start_A.png');
}

.start.B {
    background-image: url('Start_B.png');
    /* #D45500 */
}

.start.C.merge-left-B {
    background-image: url('Start_C_Left_B.png');
    /* C #008000 */
}

.start.C.merge-left-M {
    background-image: url('Start_C_Left_M.png');
    /* C #008000 */
}

.start.E.merge-left-D {
    background-image: url('Start_E_Left_D.png');
    /* E #AA0000 */
}

.start.E.merge-right-D {
    background-image: url('Start_E_Right_D.png');
    /* E #AA0000 */
}

.start.E.merge-right-F {
    background-image: url('Start_E_Right_F.png');
    /* E #AA0000 */
}

.start.F {
    background-image: url('Start_F.png');
}

.start.F.merge-left-A {
    background-image: url('Start_F_Left_A.png');
}

.start.F.merge-left-D {
    background-image: url('Start_F_Left_D.png');
}

.start.F.merge-left-E {
    background-image: url('Start_F_Left_E.png');
}

.start.merge-right-A.D {
    background-image: url('Start_D_Right_A.png');
    /* D #00FFFF */
}

.start.merge-left-A.D {
    background-image: url('Start_D_Left_A.png');
}

.start.G.merge-right-E {
    background-image: url('Start_G_Right_E.png');
}

.start.H {
    background-image: url('Start_H.png');
}

.start.H.merge-right-F {
    background-image: url('Start_H_Right_F.png');
}

.start.I {
    background-image: url('Start_I.png');
    /* #800080 */
}

.start.I.merge-left-H {
    background-image: url('Start_I_Left_H.png');
    /* #800080 */
}

.start.J {
    background-image: url('Start_J.png');
    /* #000000 */
}

.start.J.merge-right-J {
    background-image: url('Start_J_Right_J.png');
    /* #000000 */
}

.start.J.merge-left-H {
    background-image: url('Start_J_Left_H.png');
    /* #000000 */
}

.start.J.merge-right-H {
    background-image: url('Start_J_Right_H.png');
    /* #000000 */
}

.start.K.merge-right-B {
    background-image: url('Start_K_Right_B.png');
    /* #000000 */
}

.start.L {
    background-image: url('Start_L.png');
}

.start.M {
    background-image: url('Start_M.png');
}

.node.A {
    background-image: url('Node_A.png');
}

.node.B {
    background-image: url('Node_B.png');
}

.node.C {
    background-image: url('Node_C.png');
}

.node.C.merge-left-I {
    background-image: url('Node_C_Left_I.png');
}

.node.C.merge-left-B {
    background-image: url('Node_C_Left_B.png');
}

.node.D {
    background-image: url('Node_D.png');
}

.node.D.merge-right-E {
    background-image: url('Node_D_Right_E.png');
}

.node.E {
    background-image: url('Node_E.png');
}

.node.F {
    background-image: url('Node_F.png');
}

.node.G {
    background-image: url('Node_G.png');
}

.node.H {
    background-image: url('Node_H.png');
}

.node.H.merge-left-F {
    background-image: url('Node_H_Left_F.png');
}

.node.I {
    background-image: url('Node_I.png');
}

.node.J {
    background-image: url('Node_J.png');
}

.node.K {
    background-image: url('Node_K.png');
}

.node.L {
    background-image: url('Node_L.png');
}

.node.M {
    background-image: url('Node_M.png');
}

.line.A {
    background-image: url('Line_A.png');
}

.line.B {
    background-image: url('Line_B.png');
}

.line.B.pass-C {
    background-image: url('Line_B_Pass_C.png');
}

.line.B.pass-F {
    background-image: url('Line_B_Pass_F.png');
}

.line.B.pass-I {
    background-image: url('Line_B_Pass_I.png');
}

.line.C {
    background-image: url('Line_C.png');
}

.line.D {
    background-image: url('Line_D.png');
}

.line.E {
    background-image: url('Line_E.png');
}

.line.F {
    background-image: url('Line_F.png');
}

.line.G {
    background-image: url('Line_G.png');
}

.line.H {
    background-image: url('Line_H.png');
}

.line.I {
    background-image: url('Line_I.png');
}

.line.J {
    background-image: url('Line_J.png');
}

.line.J.pass-B {
    background-image: url('Line_J_Pass_B.png');
}

.line.K {
    background-image: url('Line_K.png');
}

.line.K.pass-J {
    background-image: url('Line_K_Pass_J.png');
}

.line.L {
    background-image: url('Line_L.png');
}

.line.M {
    background-image: url('Line_M.png');
}

.pass-B {
    background-image: url('Pass_B.png');
}

.pass-D {
    background-image: url('Pass_D.png');
}

.pass-M {
    background-image: url('Pass_M.png');
}

.split.E {
    background-image: url('Split_E.png');
}

.split-left.A {
    background-image: url('Split_Left_A.png');
}

.split-left.B {
    background-image: url('Split_Left_B.png');
}

.split-left.C {
    background-image: url('Split_Left_C.png');
}

.split-left.D {
    background-image: url('Split_Left_D.png');
}

.split-left.E {
    background-image: url('Split_Left_E.png');
}

.split-left.F {
    background-image: url('Split_Left_F.png');
}

.split-left.H {
    background-image: url('Split_Left_H.png');
}

.split-left.M {
    background-image: url('Split_Left_M.png');
}

.split-right.A {
    background-image: url('Split_Right_A.png');
}

.split-right.B {
    background-image: url('Split_Right_B.png');
}

.split-right.D {
    background-image: url('Split_Right_D.png');
}

.split-right.E {
    background-image: url('Split_Right_E.png');
}

.split-right.F {
    background-image: url('Split_Right_F.png');
}

.split-right.G {
    background-image: url('Split_Right_G.png');
}

.split-right.H {
    background-image: url('Split_Right_H.png');
}

.split-right.I {
    background-image: url('Split_Right_I.png');
}

.split-right.M {
    background-image: url('Split_Right_M.png');
}

.merge-right-B.A {
    background-image: url('Merge_A_Right_B.png');
}

.merge-right-M.A {
    background-image: url('Merge_A_Right_M.png');
}

.merge-right-C.F {
    background-image: url('Merge_F_Right_C.png');
}

.merge-left-G.merge-right-F.E {
    background-image: url('Merge_E_Left_G_Right_F.png');
}

.merge-left-F.C {
    background-image: url('Merge_C_Left_F.png');
}

.end.A {
    background-image: url('End_A.png');
}

.end.B {
    background-image: url('End_B.png');
}

.end.C {
    background-image: url('End_C.png');
}

.end.D {
    background-image: url('End_D.png');
}

.end.E {
    background-image: url('End_E.png');
}

.end.F {
    background-image: url('End_F.png');
}

.end.G {
    background-image: url('End_G.png');
}

.end.H {
    background-image: url('End_H.png');
}

.end.split-right.H {
    background-image: url('End_Right_H.png');
}

.end.I {
    background-image: url('End_I.png');
}

.end.J {
    background-image: url('End_J.png');
}

.end.split-left.J {
    background-image: url('End_Left_J.png');
}

.end.K {
    background-image: url('End_K.png');
}

.end.L {
    background-image: url('End_L.png');
}

.end.M {
    background-image: url('End_M.png');
}
