---
layout: default
---
<section>
  <h1>{{ page.title }}</h1>
  <div class="content">{{ content }}</div>
</section>
<section>
  <h2>Projects</h2>
  <dl>
    <dt>Web-Development</dt>
    <dd><a href="/htmlcars">HTMLCARS</a></dd>
    <dd><a href="/halve">Halve</a></dd>
    <dt>Document Processing</dt>
    <dd><a href="/sdo-tool">SDO-Toolbox</a></dd>
    <dd><a href="/padington">Padington</a></dd>
    <dt>LEGO&reg; Universe</dt>
    <dd><a href="https://lu-dev.net/lu-explorer">LU Explorer</a></dd>
    <dd><a href="https://docs.lu-dev.net">LU Server Research</a></dd>
    <dd><a href="https://docs.rs/assembly">Assembly</a></dd>
    <dd><a href="https://lusprojects.github.io">LU Server Projects</a></dd>
    <dd><a href="https://darkflameuniverse.org">Darkflame Universe</a></dd>
  </dl>
</section>
